{% extends "layout.html" %}
{% block content %}

<h2>Add Salesperson</h2>

<form method="POST">

    <input name="name" placeholder="Full Name" class="form-control mb-2" required>
    <input name="email" placeholder="Email" class="form-control mb-2" required>
    <input name="password" type="password" placeholder="Password" class="form-control mb-3" required>

    <label><strong>Privileges</strong></label>

    <div class="form-check">
        <input type="checkbox" name="can_view" class="form-check-input" checked>
        <label class="form-check-label">Can View Leads</label>
    </div>

    <div class="form-check">
        <input type="checkbox" name="can_update" class="form-check-input" checked>
        <label class="form-check-label">Can Update Status</label>
    </div>

    <!-- <div class="form-check">
    <input type="checkbox" name="is_admin" class="form-check-input">
    <label class="form-check-label">Grant Admin Access</label>
    </div> -->


    <button class="btn btn-success mt-3">Create Sales User</button>
</form>

{% endblock %}
