{% extends "layout.html" %}
{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>All Enquiries</h3>
    <a href="/admin/add-sales" class="btn btn-success">Add Salesperson</a>
</div>

<div class="card shadow">
    <div class="card-body">

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Created At</th>
                    <th>Company</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Assigned To</th>
                    <th>Change</th>
                    <th>View</th>
                    <th>Report</th>

                </tr>
            </thead>
            <tbody>
                {% for e in enquiries %}
                <tr>
                    <td>{{ e.created_at }}</td>
                    <td>{{ e.company }}</td>
                    <td>{{ e.name }}</td>
                    <td>{{ e.phone }}</td>
                    <td>{{ e.email }}</td>

                
                    
                    
                    <td>
                        {% if e.sales_name %}
                            <span class="badge bg-success">{{ e.sales_name }}</span>
                        {% else %}
                            <span class="badge bg-secondary">Unassigned</span>
                        {% endif %}
                    </td>

                    <td>
                        <a href="/admin/assign/{{ e.id }}" class="btn btn-sm btn-primary">
                            {% if e.sales_name %}Change{% else %}Assign{% endif %}
                        </a>
                    </td>

                    <td>
                        <a href="/admin/view/{{ e.id }}" class="btn btn-sm btn-info">View</a>
                        <td>
                    <a href="/admin/report/{{ e.id }}" class="btn btn-sm btn-dark">View Report</a>
                        </td>

                        </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>

    
</div>

{% endblock %}
